:root {
    --color-light-apricot-50: rgba(255, 246, 237, 0.75);
    --color-light-apricot-100: rgba(255, 235, 213, 0.75);
    --color-light-apricot-200: rgba(255, 211, 168, 0.75);
    --color-light-apricot-300: rgba(255, 180, 114, 0.75);
    --color-light-apricot-400: rgba(253, 138, 58, 0.75);
    --color-light-apricot-500: rgba(252, 105, 19, 0.75);
    --color-light-apricot-600: rgba(237, 78, 9, 0.75);
    --color-light-apricot-700: rgba(196, 56, 10, 0.75);
    --color-light-apricot-800: rgba(156, 45, 16, 0.75);
    --color-light-apricot-900: rgba(125, 40, 17, 0.75);
    --color-light-apricot-950: rgba(68, 17, 6);
   --color-link-water-50: rgba(243, 247, 252, 0.75);
    --color-link-water-100: rgba(230, 239, 248, 0.75);
    --color-link-water-200: rgba(208, 227, 242, 0.75);
    --color-link-water-300: rgba(150, 194, 227, 0.75);
    --color-link-water-400: rgba(94, 163, 210, 0.75);
    --color-link-water-500: rgba(58, 135, 189, 0.75);
    --color-link-water-600: rgba(41, 107, 160, 0.75);
    --color-link-water-700: rgba(35, 87, 129, 0.75);
    --color-link-water-800: rgba(32, 74, 108, 0.75);
    --color-link-water-900: rgba(32, 63, 90, 0.75);
    --color-link-water-950: rgba(21, 40, 60);
}