:root {
    --color-light-apricot-50: #fff6ed;
    --color-light-apricot-100: #ffebd5;
    --color-light-apricot-200: #ffd3a8;
    --color-light-apricot-300: #ffb472;
    --color-light-apricot-400: #fd8a3a;
    --color-light-apricot-500: #fc6913;
    --color-light-apricot-600: #ed4e09;
    --color-light-apricot-700: #c4380a;
    --color-light-apricot-800: #9c2d10;
    --color-light-apricot-900: #7d2811;
    --color-light-apricot-950: #441106;
    --color-link-water-50: #f3f7fc;
    --color-link-water-100: #e6eff8;
    --color-link-water-200: #d0e3f2;
    --color-link-water-300: #96c2e3;
    --color-link-water-400: #5ea3d2;
    --color-link-water-500: #3a87bd;
    --color-link-water-600: #296ba0;
    --color-link-water-700: #235781;
    --color-link-water-800: #204a6c;
    --color-link-water-900: #203f5a;
    --color-link-water-950: #15283c;
}